body{
  background: rgb(182,238,174);
  background: radial-gradient(circle, rgba(182,238,174,1) 21%, rgba(77,97,98,1) 51%);
}
.textdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}
.text{
  padding: 80px;
  border-radius: 15px;
  width: 550px;
  height: 200px;
  background-color: cadetblue;
}